<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-teal">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>person</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>{{numberOfUsers}}</h2>
          <p>Users</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-purple">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>group</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>{{numberOfPlayers}}</h2>
          <p>Players</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-red">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>mood</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>{{numberOfCoaches}}</h2>
          <p>Coaches</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>smartphone</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>{{numberOfMobileUsers}}</h2>
          <p>Mobile Users</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex="100">
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        <label fxFlex>Start date</label>
        <span>
            <dx-date-box width="100%" type="date" dateSerializationFormat="yyyy-MM-dd" placeholder="Start date"
                name="startDateChart1" pickerType="calendar" [(value)]="startDateChart1" (onValueChanged)="filterChart1Data()">
            </dx-date-box>
        </span>
        <label fxFlex class="ml-1">End date</label>
        <span>
            <dx-date-box width="100%" type="date" dateSerializationFormat="yyyy-MM-dd" placeholder="End date"
                name="endDateChart1" pickerType="calendar" [(value)]="endDateChart1" (onValueChanged)="filterChart1Data()">
            </dx-date-box>
        </span>
        <!-- <button mat-icon-button mat-button-sm [matMenuTriggerFor]="card1" aria-label="Open card menu">
            <mat-icon>more_vert</mat-icon>
          </button> -->
      </mat-card-subtitle>
      <mat-card-content>
        <dx-chart id="chart1" [dataSource]="chart1Data">
          <dxi-series argumentField="date" valueField="fullplayersCount" type="line" color="#ffaa66"
            [showInLegend]="false">
          </dxi-series>
          <dxo-tooltip [enabled]="true" [zIndex]="1" [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
        </dx-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50" fxFlex="100">
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        <label fxFlex>Start date</label>
        <span>
            <dx-date-box width="100%" type="date" dateSerializationFormat="yyyy-MM-dd" placeholder="Start date"
                name="startDateChart2" pickerType="calendar" [(value)]="startDateChart2" (onValueChanged)="filterChart2Data()">
            </dx-date-box>
        </span>
        <label fxFlex class="ml-1">End date</label>
        <span>
            <dx-date-box width="100%" type="date" dateSerializationFormat="yyyy-MM-dd" placeholder="End date"
                name="endDateChart2" pickerType="calendar" [(value)]="endDateChart2" (onValueChanged)="filterChart2Data()">
            </dx-date-box>
        </span>
      </mat-card-subtitle>
      <!-- <mat-menu #card2="matMenu" x-position="before">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            Settings
          </button>
          <button mat-menu-item>
            <mat-icon>more</mat-icon>
            View More
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            Disable notifications
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Remove Panel
          </button>
        </mat-menu> -->
      <mat-card-content>
        <dx-chart id="chart2" [dataSource]="chart2Data">
          <dxi-series argumentField="date" valueField="playersCount" name="Test" type="bar" color="#ffaa66" [showInLegend]="false">
          </dxi-series>
          <dxo-tooltip [enabled]="true" [zIndex]="1" [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
        </dx-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header class="mt-0">
        <mat-card-title>TODAY SCHEDULE</mat-card-title>

        <!-- <mat-card-subtitle>
            <a>Full schedule</a>
          </mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div fxFlex.gt-sm="100%" fxFlex="100">
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
            [rowHeight]="'auto'">
            <ngx-datatable-column name="Project">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['project']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Due Date">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['date'] | date: 'MMMM dd'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Progress">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <button mat-stroked-button color="primary" (click)="goToSchedule()">Full Schedule</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header class="mt-0">
        <mat-card-title>LAST PAYMENTS</mat-card-title>

        <!-- <mat-card-subtitle>
              <a>Full schedule</a>
            </mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div fxFlex.gt-sm="100%" fxFlex="100">
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
            [rowHeight]="'auto'">
            <ngx-datatable-column name="Project">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['project']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Due Date">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['date'] | date: 'MMMM dd'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Progress">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <button mat-stroked-button color="primary" (click)="goToPayments()">All Payments</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div fxLayout="row wrap">
  <div fxFlex.gt-md="100" fxFlex="100">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center center" class="mr-1">
        <mat-card-header class="mt-0">
          <img matCardAvatar src="assets/images/avatar.jpg">
          <mat-card-subtitle>Revenue &nbsp;
            <span class="font-weight-bold mat-text-primary">+458,90</span>
          </mat-card-subtitle>
          <mat-card-title>Gerald Morris</mat-card-title>
        </mat-card-header>
        <span fxFlex></span>
        <button mat-icon-button mat-button-sm [matMenuTriggerFor]="card1" aria-label="Open card menu">
            <mat-icon>more_vert</mat-icon>
          </button>
      </div>
      <div class="card-image-header" style="background-image: url(assets/images/unsplash/2.jpg); height: 240px;"></div>
      <mat-card-content>
        <button mat-fab mat-fab-card-float class="mr-1" color="warn">
          <mat-icon>share</mat-icon>
        </button>
        <p class="ma-0">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, of which
          the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging
          lamp.</p>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <div fxLayout="row">
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <span fxFlex></span>
          <button mat-button>More info</button>
          <button mat-button>Download</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->